@font-face {
    font-family: "Laila";
    src: url("../fontes/Laila-Regular.ttf");
}

body {
    
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: Laila;
}

.container {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: auto; /* Adiciona uma barra de rolagem horizontal se necessário */
}

h1 {
    text-align: center;
    color: #ff6600;
    font-family: Laila;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho total */
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
}

.tab-button.active {
    background-color: #e65c00;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed; /* Define o layout da tabela como fixo para evitar a expansão automática */
    font-size: 18px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    overflow: hidden; /* Esconde qualquer conteúdo que extrapole o limite da célula */
    text-overflow: ellipsis; /* Adiciona reticências (...) para indicar que o texto foi truncado */
    
}

th {
    background-color: #ff6600;
    color: #fff;
    font-family: Laila;
}
th:first-child, td:first-child,
th:nth-child(3), td:nth-child(3) {
    width: 100px; /* Ajuste o valor conforme necessário */
}


/* Estilos para telas menores (celulares) */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
        overflow-x: auto; /* Adiciona barra de rolagem horizontal para a .container em telas menores */
    }

    .tab-button {
        padding: 8px 16px;
    }

    table {
        font-size: 14px;
    }

    td, th {
        padding: 8px;
    }
}
